@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.drawer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $blue;

  .title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 5em;
    margin-bottom: 2em;
  }
}
