.carousel {
  max-width: 93.75rem;
  // background-color: yellow;
  margin-top: 2em;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .item {
    img {
      width: 100%;
    }
  }
}
