@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.icon {
  width: 5rem;
  height: 5rem;
  position: fixed;
  right: 7%;
  bottom: 5%;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 1%;
  height: 30rem;
  width: 22rem;
  border-radius: 0.2em;
  background-color: white;
  padding: 0 1em;
  box-shadow: 1px 2px 4px 2px gray;
  animation: zoom 0.2s forwards;

  @keyframes zoom {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
    padding: 0.5em 0;

    .admin {
      display: flex;
      align-items: center;

      .leftAdmin {
        flex-basis: 3rem;
        height: 3rem;
        flex-shrink: 0;
        margin-right: 0.7em;
      }

      .rightAdmin {
        .name {
          font-size: 0.9rem;
          font-weight: bold;
        }
        .status {
          font-size: 0.8rem;
          color: $green;
        }
      }
    }

    .close {
      width: 1rem;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }

  .middle {
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    padding: 0 1em;

    &::-webkit-scrollbar {
      display: none;
    }

    .text {
      font-size: 0.82rem;
      color: white;
      max-width: 60%;
      padding: 0.5em;
      border-radius: 0.2em;
      margin: 1em 0;
      display: table;
    }

    .normalText {
      @extend .text;
      background-color: lighten($blue, 10%);
      margin-right: auto;
    }

    .senderText {
      @extend .text;
      background-color: lighten($pink, 10%);
      margin-left: auto;
    }
  }

  .bottom {
    flex-basis: 5rem;
    flex-shrink: 0;
    border-top: 0.5px solid gray;
    padding: 0.5em 0;

    .inputWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .input {
        flex-grow: 1;

        input {
          width: 100%;
          border: none;
          outline: none;
        }
      }

      .send {
        flex-basis: 2rem;
        flex-shrink: 0;
        margin-left: 0.5em;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }

    .attachWrapper {
      display: flex;
      margin-top: 0.5em;

      .attachItem {
        flex-basis: 1.5rem;
        flex-shrink: 0;
        margin: 0 0.5em;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }
  }
  .requireLogin {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
