.loading {
  width: 100%;
  margin-top: 5em;
  position: relative;
  display: flex;
  justify-content: center;
}

.tableWrapper {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5em;
}
